<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Tela de login</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <img src="{{ url_for('static', filename='img/logintela.svg')}}" class="left-loginimg" alt="logintela">
        </div>
        <div class="right-login">
        <div class="card">
            <h1>LOGIN</h1>
            <div class="textfield">
                <label for="usuario">Usuário</label>
                <input type="text" name="usuario" placeholder="Usuário">
            </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Senha">            
                </div>
                </label>
            <button class="btn-login">Entrar</button>
                <p class="conta"> Ainda não tem uma conta? <a href="{{ url_for('conta' ,filename='conta.html')}}" style="color: #f0ffff94;"> Criar conta</a></p>
                <p class="senha"> <a href="{{ url_for('senha', filename='senha.html') }} style="color: #f0ffff94"> Esqueci minha senha</a></p>
            </div>
        </div>
    </div>
</body>
</html>